{% extends "Base.html" %}
{% load crispy_forms_tags %}

{% block title_block %}
 {{user.profile.username}} profiles 
{% endblock title_block %}

{% block body_block %}
<div class="shadow-none p-3  bg-light rounded container card">
<div class="card-body">
    <h2>Your Profile:</h2>
    <hr>
    <form method="POST">
        {{form|crispy}}
        {% csrf_token %}
        <button type="submit" class="btn btn-warning" style="float: right;">update info</button>
    </form>

</div>
</div>



{% endblock body_block %}