{% extends "Base.html" %}
{% load crispy_forms_tags %}

{% block title_block %}
Create New Account  
{% endblock title_block %}

{% block body_block %}
<div class="container bg-light">
  <h2>Create New Account:</h2>
  <hr>
  <form method="POST">
      {{form|crispy}}
      {% csrf_token %}
      <button type="submit" class="btn btn-success">Create Account</button>
  </form>
  <br>
  <p>Already have an account ? <a href="{% url 'Login:login' %}">login here</a></p>
</div>

{% endblock body_block %}