{% extends "Base.html" %} {% block title_block %} BDStore | Home 
{% endblock title_block %}
{% block body_block %}
<div class="row">
  <div class="shadow-lg p-1 mb-5 bg-light rounded ml-5 position-fixed" style="width: 250px;height:500px;">
    <h4><i>Category : </i></h4>
    <hr>
    {% for x in category %}
    <li><a href="#">{{x}}</a></li>     
  {% endfor %}
 </div>
  <div class="bg-light container rounded position-relative " style="min-height: 100vh;">
    <h3 class="text-muted  p-5">Featured Products :</h3>
  <hr />
  <div class="product">

    {% for product in product_list %}
    <div class="col-sm-12 col-md-4 col-lg-3 p-2">
      <div class="card">
        <img
          class="card-img-top"
          src="/media/{{product.main_image}}"
          height="200px"
          width="100%"
          alt="Card image cap"
        />
        <div class="card-body">
          <div>
            <h5 class="product_name"><a href="{% url 'Shop:details' pk=product.pk %}">{{product.name}}</a></h5>
            <i>&#2547; {{product.price}}</i>
            {% if product.old_price > 0 %}
            &nbsp;
            <strike><i>&#2547; {{product.old_price}}</i></strike>   
            {% endif %}
          </div>
          <p class="card-text">
            {{product.preview_text}}
          </p>
        </div>
        <a  class="cart_button" href="#">add to cart</a>
      </div>
    </div>
    {% endfor %}
  </div>

  </div>

</div>
{% endblock body_block %}
