{% extends "Base.html" %}
{% block title_block %}
  Cart
{% endblock title_block %}
{% block body_block %}
  <div class="container my-5">
      <div class="my-5">
          <h2 class="text-muted">Your Cart :</h2>
          <hr>
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th scope="col" width="15%">#</th>
                      <th scope="col">Product Name</th>
                      <th scope="col">Quantity</th>
                      <th scope="col" align="center">Price</th>
                      <th scope="col">remove</th>
                  </tr>
              </thead>
              <tbody>
                  {% for cart in carts %}
                  <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      <td>{{cart.item.name}}</td>
                      <td>
                        <a href="{% url 'Order:decrease' cart.item.pk %}" class="mr-2">
                            <span class="badge badge-danger">
                                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                            </span>
                        </a>
                        <span>{{cart.quantity}}</span>
                        <a href="{% url 'Order:increase' cart.item.pk %}" class="ml-2">
                            <span class="badge badge-info">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </span>
                        </a>
                           
                      </td>
                      <td align="left">&#2547;  {{cart.get_total}} </td>
                      <td>
                          <a href="{% url 'Order:remove' cart.item.pk %}">                           
                                  <i class="fa fa-times-circle" aria-hidden="true" style="color: rgb(165, 165, 165);"></i>                              
                          </a>
                      </td>
                  </tr>
                    
                  {% endfor %}
                  <tr>
                      <th scope="row"></th>
                      <td colspan="2">Total</td>
                      <td colspan="2" align="left">&#2547; {{order.get_total_items|floatformat:2}} </td>
                  </tr>
                  <tr>
                      <td colspan="3" align="left">
                          <a href="{% url 'Shop:home' %}" class="btn btn-info">Continue Shopping</a>

                      </td>
                      
                      <td colspan="2" align="right">
                        <a href="{% url 'Payment:checkout' %}" class="btn btn-success">Proceed To Checkout</a>

                    </td>
                  </tr>
              </tbody>
          </table>

      </div>
  </div>
{% endblock body_block %}